header {
height:25px;
width:99%;
margin-bottom:10px;
padding:10px;
background-color:blue;
border-radius:15px;
}
#headerLinksDiv{
width:100%;
}
.headerLinks {
color:white;
margin-right:10px;
font-size:large;
float:left;
}
#headerLogout {
color:white;
margin-right:10px;
font-size:large;
float:right;
}
footer {
color:gray;
width:100%;
height:70px;
font-size:small;
font-style:italic;
position: relative;
margin-top: -70px; /* negative value of footer height */
clear:both;
}
footer p{
text-align:center;
}

#main { padding-bottom: 70px; }  /* must be same height as the footer */

html{
height:100%
}
body 
{
	margin: 0;
	padding: 0;
	height:100%;
	color: #061C37;
	background: #FFF;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
*
{
 margin: 0 auto 0 auto;
 text-align:left;
}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic
{
background-image:url(images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:354px;	
}

#content
{
width:700px;
height:auto;
background-color:#EEEFE4;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */